<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>576829244782-vt65b9gr0hfbluccgqa3ha4bk4hbpmtr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.576829244782-vt65b9gr0hfbluccgqa3ha4bk4hbpmtr</string>
	<key>API_KEY</key>
	<string>AIzaSyBRXpLj647zkmXYP_A7cnuFYUdIkDZMOVE</string>
	<key>GCM_SENDER_ID</key>
	<string>576829244782</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asadrzv.final</string>
	<key>PROJECT_ID</key>
	<string>final-3cccb</string>
	<key>STORAGE_BUCKET</key>
	<string>final-3cccb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:576829244782:ios:7d415d667cad477f6bed7f</string>
</dict>
</plist>
